BasedOnStyle: LLVM
Language: C
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
