* text=auto eol=lf
*.bin binary
*.bmp binary
*.crd binary
*.doc binary
*.docx binary
*.dsk binary
*.exe binary
*.ico binary
*.imd binary
*.jpeg binary
*.jpg binary
*.lda binary
*.pdf binary
*.png binary
*.rim binary
*.sln binary
*.tap binary
*.tar binary
*.tar.gz binary
*.tgz binary
*.vhd binary
*.vcproj binary
*.zip binary
